
.top-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.top-buttons button {
    margin: 50px;
    padding: 10px 20px;
    background-color:#eaeaea;
    color:#797979;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
}

.top-buttons button.active {
    background-color:#4c00b4; /* Change to your active color */

}
.container {
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-top:200px;
    width: 600px;

    background:#fff;
    padding-bottom:30px;
}
.header{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 9px;
    width:100%;
    margin-top: 30px;
}
.text{
    color:#4c00b4;
    font-size:48px;
    font-weight:700;

}

.underline{
    width:61px;
    height:6px;
    background:#4c00b4;
    border-radius:9px;
}

.inputs{
    margin-top: 55px;
    display:flex;
    flex-direction: column;
    gap:25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}


.input input  {
    height:50px;
    width:400px;
    background:transparent;
    border: none;
    outline:none;
    color: #797979;
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-left:27px ;
    color:#797979;
    font-size: 18px;
    
}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
    
    
}




.submit-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}



.submit-container .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px; /* Same width as input */
    height: 80px; /* Same height as input */
    background:#4c00b4; /* Same background color as input */
    border-radius: 6px; /* Same border-radius as input */
    cursor: pointer;
    color: white;
}

.submit-container .submit:hover {
    background: #dcdcdc; /* Adjust hover background color as needed */
}

.submit-container .submit:hover span {
    color: #4c00b4; /* Adjust hover text color as needed */
}

.submit-container .submit span {
    color: #676767;
    font-size: 19px;
}

.submit {
    background: #4c00b4;
}






